body {
    background-color: white;
}

.products{
    text-align: center;
    color: green;
    font-size: larger;
    font-size: small;
}

.ground{
background-image: url(./IMAGES/download.jpeg);
background-position: center;
background-size: contain;
border-radius: 1em;
border:  solid;
    }

h2{
    color: white;
    text-align: center;
    margin-top: 10%;
}
